.pin {
	-webkit-filter: drop-shadow( 0px 0px 15px rgb(255, 108, 108)) opacity(1);
    filter: drop-shadow( 0px 0px 15px rgba(255, 108, 108));
	-webkit-animation: pulsePin 1s infinite;
	animation: pulsePin 1s infinite;
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
}

@-webkit-keyframes pulsePin {
	0% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(255, 108, 108)) opacity(1);
    filter: drop-shadow( 0px 0px 5px rgba(255, 108, 108)) opacity(1);
	}

	500% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(239 ,68, 68, 0)) opacity(0.20);
    filter: drop-shadow( 0px 0px 5px rgba(239 ,68, 68, 0)) opacity(0.20);
	}

	100% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(239 ,68, 68◊, 0)) opacity(0.20);
    filter: drop-shadow( 0px 0px 5px rgba(239 ,68, 68, 0)) opacity(0.20);
	}
}

@keyframes pulsePin {
	0% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(255, 108, 108)) opacity(1);
    filter: drop-shadow( 0px 0px 5px rgba(255, 108, 108)) opacity(1);
	}

	500% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(239 ,68, 68, 0)) opacity(0.20);
    filter: drop-shadow( 0px 0px 5px rgba(239 ,68, 68, 0)) opacity(0.20);
	}

	100% {
		-webkit-filter: drop-shadow( 0px 0px 15px rgba(239 ,68, 68◊, 0)) opacity(0.20);
    filter: drop-shadow( 0px 0px 5px rgba(239 ,68, 68, 0)) opacity(0.20);
	}
}